<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8"></meta>
    <title>Ztree 显示层级下拉框</title>
    <script src="../static/script/jquery-3.3.1/jquery.min.js"></script>
    <script src="../static/script/common.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.core.min.js"></script>
    <link href="https://cdn.bootcss.com/zTree.v3/3.5.33/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet"/>
    <style>
        .trg{
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 6px solid black;;
            position: absolute;
            left:181px;
            top:8px;
        }
        .org-select{
            cursor: default;
            z-index: -1;
            width:200px;
        }

    </style>
</head>
<body>
<div style="position: relative;margin:90px;">
    <input id="orgName" class="org-select" onclick="showTree()"  readonly >
    <!-- 模拟select点击框 以及option的text值显示-->
    <i class="trg"style="position: absolute;"></i>
    <!-- 模拟select右侧倒三角 -->
    <input id="orgCode" type="hidden" name="orgCode" />
    <!-- 存储 模拟select的value值 -->

    <!-- zTree树状图 相对定位在其下方 -->
    <div class="ztree"  style="display:none; position: absolute;border:1px solid #4aa5ff;width:200px;">
        <ul id="treeDemo"></ul>
    </div>
</div>
<script>

    var orgList = {};
    chc.get("/organization/getAll",null,function (data) {
        orgList = data;
    });

    var setting = {
        check: {
            // 被勾选时：关联父；取消勾选时：关联子
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        //回调
        callback: {
            onClick: zTreeOnClick
        },
        view: {
            fontCss: { fontSize: "14px" }
        }
    };

    $(document).ready(function () {
        //初始组织树状图
        $.fn.zTree.init($("#treeDemo"), setting, orgList);
    });

    //节点点击事件
    function zTreeOnClick(event, treeId, treeNode) {
        $('#orgName').val(treeNode.name);
        $('#orgCode').val(treeNode.Id)
        hideTree();
    };

    //下拉框显示 隐藏
    function showTree(){
        if($('.ztree').css('display') == 'none'){
            $('.ztree').css('display','block');
        } else{
            $('.ztree').css('display','none');
        }
        $("body").bind("mousedown", onBodyDownByActionType);
    }
    function hideTree() {
        $('.ztree').css('display','none');
        $("body").unbind("mousedown", onBodyDownByActionType);
        return false;
    }

    //区域外点击事件
    function onBodyDownByActionType(event) {
        if (event.target.id.indexOf('treeDemo') == -1){
            if(event.target.id != 'selectDevType'){
                hideTree();
            }
        }
    }

</script>
</body>
</html>